{% extends "hospitalApp/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Add Ward
{% endblock title %}

{% block navbar %}
<section id="navbar">
    {% include 'hospitalApp/navbar.html' %}
</section>
{% endblock navbar %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="container-fluid col-xl-8 col-12 m-5" style="background-color: lavender;">
        <div class="row">
            <h1 class="text-center">Add Ward to {{ hospital.name }}</h1>
            <hr class="custom-hr">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Add Ward</button>
                {% if form.errors %}
                    <div class="errors">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </form>
            
        </div>
    </div>
</div>
{% endblock content %}
